name: Windows7x86ALL

on: workflow_dispatch
#on: [push, pull_request]

env:
  UpdatePack7R2_VERSION: '25.12.10_esd'
  FILE_NAME: install_Windows7x86ALL

jobs:
  Windows7x64ALL_UpdatePack7R2:
    runs-on: windows-latest

    steps:

    # 下载工具和镜像
    - name: Get Tools and Wim
      shell: pwsh
      run: |
        #ls     #Directory: D:\a\UpdatePack7R2\UpdatePack7R2(即仓库目录)
        #D:\a\UpdatePack7R2                                上级目录，这里当做根目录
        
        cd ..  #Directory: D:\a\UpdatePack7R2

        # 下载UpdatePack7R2
        curl -L -o UpdatePack7R2.exe https://github.com/yuanpeirong/UpdatePack7R2/releases/download/UpdatePack7R2/UpdatePack7R2-25.12.10.exe

        # 下载Windows7x64ALL.wim镜像
        curl -L -o ${{env.FILE_NAME}}.7z.001 https://github.com/yuanpeirong/UpdatePack7R2/releases/download/Windows7x86/install_Windows7x86ALL.7z.001
        curl -L -o ${{env.FILE_NAME}}.7z.002 https://github.com/yuanpeirong/UpdatePack7R2/releases/download/Windows7x86/install_Windows7x86ALL.7z.002
        7z x ${{env.FILE_NAME}}.7z.001
        ls

    # 使用UpdatePack7R2.exe集成更新
    - name: UpdatePack7R2 Wim
      shell: cmd
      run: |
        D:\a\UpdatePack7R2\UpdatePack7R2.exe /ie11 /WimFile=D:\a\UpdatePack7R2\${{env.FILE_NAME}}.wim /Index=* /NoUSB /Optimize=esd

    # 打包
    - name: Package binaries
      run: |
        #ls     #Directory: D:\a\UpdatePack7R2\UpdatePack7R2(即仓库目录)
        7z a -v1950M ${{env.FILE_NAME}}-${{env.UpdatePack7R2_VERSION}}.7z ../${{env.FILE_NAME}}.esd -mx=9
        7z a UpdatePack7log.7z C:\WINDOWS\UpdatePack7.log

    # 上传日志
    - uses: actions/upload-artifact@v4
      with:
        name: UpdatePack7log
        path: UpdatePack7log.7z

    # 上传镜像
    - uses: actions/upload-artifact@v4
      with:
        name: ${{env.FILE_NAME}}-${{env.UpdatePack7R2_VERSION}}
        path: ${{env.FILE_NAME}}-${{env.UpdatePack7R2_VERSION}}.7z.*

    # 发布镜像
    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: ${{env.FILE_NAME}}-${{env.UpdatePack7R2_VERSION}}
        release_name: ${{env.FILE_NAME}}-${{env.UpdatePack7R2_VERSION}}
        files: ${{env.FILE_NAME}}-${{env.UpdatePack7R2_VERSION}}.7z.*
