name: Windows7x64ALL

#on: workflow_dispatch
on: [push, pull_request]

env:
  UpdatePack7R2_VERSION: '25.12.10'
  FILE_NAME: install_Windows7x64ALL

jobs:
  Windows7x64ALL_UpdatePack7R2:
    runs-on: windows-latest

    steps:

    # 检出本仓库
    - name: Checkout repository
      uses: actions/checkout@v5

    # 下载工具和镜像
    - name: Get Tools and Wim
      shell: pwsh
      run: |
        #ls     #Directory: D:\a\UpdatePack7R2\UpdatePack7R2(即仓库目录)
        #D:\a\UpdatePack7R2                                上级目录，这里当做根目录
        
        cd ..  #Directory: D:\a\UpdatePack7R2


        # 下载UpdatePack7R2
        curl -L -o UpdatePack7R2.exe https://github.com/yuanpeirong/UpdatePack7R2/releases/download/UpdatePack7R2-25.12.10/UpdatePack7R2-25.12.10.exe

        # 下载Windows7x64ALL.wim镜像
        curl -L -o install_Windows7x64ALL_2.7z.001 https://github.com/yuanpeirong/UpdatePack7R2/releases/download/Windows7x64ALL/install_Windows7x64ALL_2.7z.001
        curl -L -o install_Windows7x64ALL_2.7z.002 https://github.com/yuanpeirong/UpdatePack7R2/releases/download/Windows7x64ALL/install_Windows7x64ALL_2.7z.002
        7z x install_Windows7x64ALL_2.7z.001
        
    # 使用UpdatePack7R2.exe集成更新
    - name: UpdatePack7R2 Wim
      shell: cmd
      run: |
        D:\a\UpdatePack7R2\UpdatePack7R2.exe /ie11 /WimFile=D:\a\UpdatePack7R2\install_Windows7x64ALL.wim /Index=4 /NoUSB /Optimize

    # 打包
    - name: Package binaries
      run: |
        #ls     #Directory: D:\a\UpdatePack7R2\UpdatePack7R2(即仓库目录)
        7z a ${{env.FILE_NAME}}-${{env.UpdatePack7R2_VERSION}}.7z ../${{env.FILE_NAME}}.wim -mx=9

    # 上传
    - uses: actions/upload-artifact@v4
      with:
        name: ${{env.FILE_NAME}}-${{env.UpdatePack7R2_VERSION}}
        path: ${{env.FILE_NAME}}-${{env.UpdatePack7R2_VERSION}}.7z
